@media (max-width: 1425px) {
    .header {
        &__logo {
            margin-right: 70px;
        }
        &__link {
            margin-right: 20px;
        }
        &__email {
            margin-right: 50px;
        }
    }
}

@media (max-width: 1295px) {
    .header {
        &__logo {
            margin-right: 50px;
        }
        &__link {
            font-size: 16px;
        }
        &__email {
            margin-right: 30px;
            &-mail {
                font-size: 15px;
            }
        }
        &__telephone {
            &-link {
                font-size: 15px;
            }
        }
    }
    .promo {
        &__slide {
            &-class {
                font-size: 46px;
                left: 270px;
            }
        }
        &__next {
            right: 80px;
        }
        &__prev {
            left: 80px;
        }
    }
    .products {
        &__class {
            margin-left: 25px;
        }
        &__grid {
            width: 100%;
            gap: 25px;
            margin: 0 auto;
            margin-top: 20px;
        }
    }
    .footer {
        padding: 60px 70px;
        &__link {
            font-size: 16px;
        }
    }
}

@media (max-width: 1100px) {
    .header {
        &__logo {
            margin-right: 0;
        }
        &__link {
            display: none;
        }
        &__email {
            margin-right: 80px;
            &-mail {
                font-size: 13px;
            }
        }
        &__telephone {
            &-link {
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 680px) {
    .header {
        &__email, &__telephone{
            display: none;
        }
    }
}

@import 'media/max-1200';
@import 'media/max-992';
@import 'media/max-768';
@import 'media/max-576';