@media (max-width: 1425px) {
    .header {
        &__logo {
            margin-right: 70px;
        }
        &__link {
            margin-right: 20px;
        }
        &__email {
            margin-right: 50px;
        }
    }
}

@media (max-width: 1295px) {
    .header {
        &__logo {
            margin-right: 50px;
        }
        &__link {
            font-size: 16px;
        }
        &__email {
            margin-right: 30px;
            &-mail {
                font-size: 15px;
            }
        }
        &__telephone {
            &-link {
                font-size: 15px;
            }
        }
    }
    .promo {
        &__slide {
            &-class {
                font-size: 46px;
                left: 270px;
            }
        }
        &__next {
            right: 80px;
        }
        &__prev {
            left: 80px;
        }
    }
    .products {
        &__class {
            margin-left: 25px;
        }
        &__grid {
            width: 100%;
            gap: 25px;
            margin: 0 auto;
            margin-top: 20px;
        }
    }
    .footer {
        padding: 60px 70px;
        &__link {
            font-size: 16px;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .header {
        &__logo {
            margin-right: 35px;
        }
        &__link {
            font-size: 15px;
            &:nth-child(3) {
                margin-right: 0;
            }
        }
        &__email {
            margin-right: 20px;
            &-mail {
                font-size: 14px;
            }
        }
        &__telephone {
            &-link {
                font-size: 14px;
            }
        }
    }
    .promo {
        &__slide {
            &-class {
                font-size: 40px;
                left: 270px;
            }
        }
        &__next {
            right: 100px;
        }
        &__prev {
            left: 100px;
        }
    }
    .products {
        padding-top: 100px;
        &__class {
            margin-left: 25px;
        }
        &__grid {
            grid-template-columns: repeat(2, 365px);
        }
        &__filter {
            &-btn {
                margin-top: 5px;
            }
        }
        &__product {
            &:nth-child(3) {
                display: none;
            }
        }
    }
    .about {
        &__title {
            font-size: 46px;
            line-height: 48px;
        }
        &__img {
            margin-right: 40px;
            width: 50%;
        }
    }
    .question {
        padding-top: 100px;
        &__block  {
            align-items: center;
        }
        &__img {
            width: 40%;
            margin-right: 35px;
        }
        &__title {
            font-size: 30px;
        }
        &__inputs {
            flex-direction: column;
        }
        &__nametag {
            &:nth-child(2) {
                margin-top: 20px;
            }
        }
        &__bottom {
            margin-top: 0;
        }
        &__question, &__name, &__email {
            width: 470px;
        }
    }
    .footer {
        padding: 15px 50px;
        &__link {
            font-size: 15px;
            &:nth-child(2) {
                display: none;
            }
        }
        &__email {
            margin-right: 20px;
            &-mail {
                font-size: 13px;
            }
        }
        &__telephone {
            &-link {
                font-size: 13px;
            }
        }
    }
    .cart {
        &__close {
            right: 40px;
        }
        &__closeBlock {
            right: 200px;
        }
    }
}

@media (max-width: 1100px) {
    .header {
        &__logo {
            margin-right: 0;
        }
        &__link {
            display: none;
        }
        &__email {
            margin-right: 80px;
            &-mail {
                font-size: 13px;
            }
        }
        &__telephone {
            &-link {
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .header {
        padding: 5px 50px;
        &__cart {
            position: absolute;
            right: 18px;
        }
        &__num {
            position: absolute;
            right: 23px;
        }
    }
    .promo {
        &__slide {
            height: 320px;
            &-class {
                font-size: 36px;
                left: 200px;
                top: 35%;
            }
        }
        &__next {
            right: 60px;
            top: 150px;
        }
        &__prev {
            left: 60px;
            top: 150px;
        }
    }
    .products {
        &__grid {
            margin-top: 10px;
            grid-template-columns: repeat(2, 300px);
        }
        &__title {
            font-size: 48px;
        }
        &__name {
            font-size: 16px;
        }
        &__price {
            font-size: 17px;
        }
        &__num {
            font-size: 18px;
        }
        &__class {
            font-size: 17px;
        }
        &__filter {
            &-btn {
                font-size: 16px;
                padding: 10px 15px;
            }
        }
        &__block {
            opacity: 1;
        }
    }
    .about {
        &__title {
            font-size: 36px;
            line-height: 40px;
        }
        &__text {
            margin-top: 20px;
            font-size: 16px;
            line-height: 20px;
        }
        &__img {
            margin-right: 40px;
            width: 50%;
        }
    }
    .question {
        opacity: 1;
        &__wrapper {
            margin-right: 0;
        }
        &__img {
            display: none;
        }
        &__question, &__name, &__email {
            width: calc(100% - 40px);
        }
        &__link {
            font-size: 13px;
        }
        &__block {
            opacity: 1;
        }
    }
    .footer {
        padding: 15px 50px;
        &__link {
            font-size: 13px;
        }
    }
    .cart {
        margin: 40px auto;
        &__title {
            font-size: 42px;
        }
        &__close {
            right: 15px;
        }
        &__closeBlock {
            right: 75px;
        }
        &__block {
            margin-top: 40px;
        }
        &__end {
            margin-top: 30px;
        }
        &__divider {
            margin-top: 30px;
        }
        &__continue, &__pay {
            font-size: 16px;
            padding: 15px 25px;
        }
    }
    .continue {
        &__title {
            font-size: 36px;
        }
        &__inputs {
            flex-direction: column;
            flex-wrap: unset;
            align-items: center;
        }
        &__input, &__questionInput {
            width: 400px;
        }
        &__locationInput {
            width: 80px;
            text-align: center;
            margin-bottom: 25px;
        }
        &__cityInput {
            width: 250px;
            margin-bottom: 25px;
        }
        &__select {
            width: 440px;
            margin-bottom: 25px;
        }
        &__btns {
            margin-top: 40px;
            flex-direction: column-reverse;
        }
        &__return {
            margin-top: 15px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .header {
        &__email {
            margin-right: 25px;
        }
    }
    .promo {
        &__slide {
            height: 250px;
            &-class {
                font-size: 25px;
                line-height: 35px;
                left: 150px;
                top: 35%;
            }
        }
        &__next {
            right: 60px;
            top: 115px;
        }
        &__prev {
            left: 60px;
            top: 115px;
        }
    }
    .products {
        padding-top: 60px;
        &__title {
            font-size: 36px;
            line-height: 40px;
        }
        &__grid {
            margin-top: 10px;
            grid-template-columns: repeat(1, 360px);
        }
        &__name {
            font-size: 16px;
        }
        &__price {
            font-size: 17px;
        }
        &__num {
            font-size: 18px;
        }
        &__class {
            font-size: 17px;
        }
        &__filter {
            margin-top: 15px;
            &-btn {
                font-size: 14px;
                padding: 8px 10px;
            }
        }
    }
    .about {
        margin-top: 60px;
        &__title {
            font-size: 32px;
            line-height: 35px;
        }
        &__text {
            margin-top: 10px;
            font-size: 14px;
            line-height: 16px;
        }
        &__img {
            margin-right: 20px;
            width: 50%;
        }
    }
    .question {
        padding: 0;
        margin-top: 60px;
        &__block  {
            padding: 50px 0;
        }
        &__nametag {
            align-items: center;
        }
        &__title {
            font-size: 28px;
        }
        &__question, &__name, &__email {
            width: calc(100% - 40px);
            margin-right: 0;
        }
        &__link {
            font-size: 13px;
        }
        &__top, &__center, &__bottom {
            display: none;
        }
    }
    .footer {
        margin-top: 60px;
        padding: 15px;
        &__link {
            margin-right: 15px;
            font-weight: 700;
        }
        &__email {
            margin-right: 5px;
            &-img {
                margin-right: 5px;
            }
        }
        &__telephone {
            &-img {
                margin-right: 5px;
            }
        }
        &__internet {
            margin-top: 15px;
        }
    }
    .cart {
        &__wrapper {
            padding: 40px 0;
        }
        &__title {
            font-size: 36px;
        }
        &__closeBlock {
            right: 15px;
        }
        &__block {
            margin-top: 25px;
        }
        &__img {
            margin-right: 30px;
        }
        &__num {
            font-size: 24px;
        }
        &__end {
            font-size: 22px;
        }
        &__continue, &__pay {
            font-size: 14px;
            padding: 10px 15px;
        }
    }
    .continue {
        &__close {
            right: 25px;
        }
    }
}

@media (max-width: 680px) {
    .header {
        &__email, &__telephone{
            display: none;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .header {
        padding: 5px 15px;
        &__num {
            right: 25px;
        }
        &__cart {
            right: 18px;
        }
    }
    .promo {
        &__slide {
            height: 220px;
            &-class {
                font-size: 18px;
                line-height: 25px;
                left: 70px;
                top: 40%;
            }
        }
        &__next {
            right: 20px;
            top: 105px;
            width: 30px;
            height: 30px;
        }
        &__prev {
            left: 20px;
            top: 105px;
            width: 30px;
            height: 30px;
        }
    }
    .products {
        padding-top: 40px;
        width: calc(100% - 20px);
        &__title {
            font-size: 32px;
            line-height: 40px;
        }
        &__grid {
            margin-top: 10px;
            grid-template-columns: 280px;
            grid-template-rows: minmax(350px, auto);
            grid-auto-rows: minmax(350px, auto);
        }
        &__name {
            margin-top: 10px;
            font-size: 15px;
        }
        &__wrapper {
            margin-top: 15px;
        }
        &__price {
            font-size: 16px;
        }
        &__num {
            font-size: 17px;
        }
        &__class {
            font-size: 16px;
            &:nth-child(1) {
                margin-top: 15px;
            }
        }
        &__filter {
            margin-top: 15px;
            &-btn {
                font-size: 14px;
                padding: 8px 10px;
            }
        }
    }
    .about {
        margin-top: 40px;
        padding: 0 25px;
        &__img {
            display: none;
        }
        &__title {
            text-align: center;
            font-size: 32px;
            line-height: 35px;
        }
        &__text {
            margin-top: 10px;
            font-size: 14px;
            line-height: 16px;
        }
        &__img {
            margin-right: 20px;
            width: 50%;
        }
    }
    .question {
        margin-top: 40px;
        .container {
            padding: 0;
        }
        &__form {
            margin-top: 20px;
        }
        &__block  {
            padding: 30px 0;
            width: 100%;
        }
        &__title {
            font-size: 18px;
        }
        &__nametag {
            width: 260px;
            justify-content: center;
        }
        &__question, &__name, &__email {
            width: 260px;
        }
        &__link {
            font-size: 13px;
        }
        &__name {
            margin-top: 0;
        }
        &__inputs {
            margin-top: 0;
        }
        &__btns {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        &__btn {
            padding: 15px;
            width: 60%;
            margin-right: 0;
            text-align: center;
        }
        &__policy {
            margin-top: 10px;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .footer {
        margin-top: 40px;
        padding: 10px;
        &__link {
            margin-right: 15px;
            font-weight: 700;
        }
        &__connect {
            flex-direction: column;
            align-items: center;
        }
        &__email {
            margin-right: 0px;
            &-mail {
                font-size: 12px;
            }
            &-img {
                display: none;
            }
        }
        &__telephone {
            margin-top: 10px;
            &-phone {
                font-size: 12px;
            }
            &-img {
                display: none;
            }
        }
        &__internet {
            display: none;
        }
    }
    .cart { 
        .container {
            padding: 0;
        }
        &__title {
            font-size: 28px;
        }
        &__block {
            padding: 0 15px;
            margin-top: 30px;
            flex-direction: column;
            align-items: center;
            width: calc(100% - 30px);
        }
        &__img {
            margin-right: 0;
        }
        &__closeBlock {
            right: 30px;
            top: 0;
        }
        &__name {
            margin-top: 10px;
        }
        &__more {
            margin-top: 15px;
        }
        &__end {
            margin-top: 15px;
            flex-direction: column-reverse;
            align-items: center;
        }
        &__btns {
            margin-top: 15px;
        }
        &__continue, &__pay {
            font-size: 14px;
            padding: 5px 10px;
        }
        &__notFound {
            font-size: 36px;
        }
        &__btns {
            flex-direction: column;
        }
        &__pay {
            margin-top: 10px;
        }
    }
    .continue {
        width: 100%;
        &__label {
            display: none;
        }
        &__title {
            font-size: 26px;
            line-height: 28px;
            margin-bottom: 15px;
        }
        .container {
            padding: 0;
        }
        &__input, &__questionInput {
            width: 250px;
        }
        &__select {
            width: 290px;
        }
        &__cityInput {
            margin-right: 10px;
            width: 150px;
        }
        &__locationInput {
            width: 50px;
        }
        &__end {
            flex-direction: column-reverse;
            align-items: center;
        }
        &__btns {
            margin-top: 20px;
        }
        &__btn {
            margin-top: 15px;
            margin-right: 0;
        }
        &__return {
            margin: 0;
            margin-top: 15px;
        }
    }
    .add, .already {
        width: 220px;
        padding: 15px;
        &__text {
            font-size: 15px;
        }
    }
}